/* CSS vidéo fond */

div.boxvideo
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div.boxvideo video
{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.boxvideo::before
{
    position: absolute;
    content: "";
    height:  100%;
    width: 100%;
    z-index: -99;
    background-color: black;
    opacity: 0.3;
}

/* CSS Header BOX  */

header nav.side-barre
{
    background-color: rgba(255, 255, 255, 0.187);
    /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
}

div.header-top
{
    height: 80px;
    background-color:rgba(255,225,225,0.4);
    margin-top: 10px;
    color: rgb(220, 0, 0);
}

/* CSS Header menu de navigation */

header nav.side-barre div.box-header
{
    width: 80%;
    height: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CSS Header Navigation Logo  */

header div.img
{
    height: 120px;
    width: 180px;
}

header nav.side-barre div.img img
{
    height: 120px;
    width: 180px;
    transition: 1s;
}

header nav.side-barre div.img img:hover
{
    transform: rotate(360deg);
    transition: 1s;
}

/* CSS Header Navigation bouton */

header nav.side-barre div.box-header div.nav
{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

header nav.side-barre div.box-header div.nav a
{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 2%;
    transition: 1s;
    border: transparent solid;
    width: 25%;
    height: 100%;
}

header nav.side-barre div.box-header div.nav a:hover
{
    border: #F7CA47 solid;
    transition: 1s;
}

header nav.side-barre div.box-header div.nav a#focus-page
{
    border: #F7CA47 solid;
    transition: 1s;
}

/* CSS Header Info centre */

div.box-info
{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 70%;
    height: 200px;

    text-align: center;
}

div.box-info h1
{
    color : white;
    font-size: 70px;
    font-weight: 900;
    border-bottom: white solid 1px;
    margin-bottom: 25px;
}

div.box-info h2
{
    color: white;
    font-weight: 400;
    font-size: 30px;
}

div.box-info p a,div.box-info p
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

div.box-info p a:hover
{
    border-bottom: white;
}

/* CSS Header Info Chiffre clés */

div.Primary-Informations ul
{
    list-style: none;
    border-left: white solid 1px;

    margin-left: 50px;
    padding-left: 50px;
}

div.Primary-Informations ul li a
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: 0.2s ease-in-out;
}

div.Primary-Informations ul li a:hover
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-left: 30px;
}

/* css shop all btn*/

div.btn-shop
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;

    border: white 1px solid;
    padding: 10px 25px;
    color: white;
    transition: 0.3s ease-in-out;
    font-size: 25px;
}

div.btn-shop:hover
{
    color: #231651;
    background-color: white;
    padding: 15px 35px;

}

/* CSS Header Scroll */

.mousey
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 90%;

    padding: 10px 15px;

    width: 30px;
    height: 70px;

    border: 2px solid #fff;
    border-radius: 50px;

    opacity: 0.75;
    box-sizing: content-box;
}

.scroller
{
    width: 8px;
    height: 20px;
    border-radius: 25%;

    background-color: #fff;

    margin: auto;

    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll
{
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(40px); opacity: 0;}
}

/**/

div.box-header-burrger
{
    display: none;
}

div.box-header-burrger div#login_close
{
    display: none;
}

/* Sidenav menu */


span.over
{
    z-index: 40;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    color: white;
    position: fixed;
    right: 10px;
    top: 10px;
}

.overlay {
    z-index: 100;
    width: 0%;
    height: fit-content;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
}

.overlay-content
{
    z-index: 100;
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 5px;
    margin-top: 65px;
}

.overlay nav.burrger-nav div.userlink
{
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    padding: 20px;
}

.overlay nav.burrger-nav div.userlink a:hover
{
    padding-left: 20px;
}

.overlay nav.burrger-nav div.userlink a
{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    background-image: red;
}


/**/

@media all and (min-width: 1024px) and (max-width: 1280px)
{
    header nav.burrger-nav
    {
        display: none;
    }

    header div.box-info h1
    {
        font-size: 60px;
    }

}

@media all and (min-width: 0px) and (max-width: 1024px)
{
    header nav.side-barre
    {
        display: none;
    }

    header div.box-header-burrger
    {
        display: flex;
    }

    header div.box-info h1
    {
        font-size: 50px;
    }

}

@media all and (min-width: 0px) and (max-width: 900px)
{
    header div.box-info h1
    {
        font-size: 40px;
    }
    header div.box-info h2
    {
        font-size: 20px;
    }

    header div.box-info p ,header div.box-info p a
    {
        font-size: 10px;
    }

}

@media all and (min-width: 0px) and (max-width: 720px)
{
    header div.box-info h1
    {
        font-size: 30px;
    }

    header div.box-info h2
    {
        font-size: 15px;
    }

    header div.box-info p ,header div.box-info p a
    {
        display: none;
    }
}

@media all and (min-width: 0px) and (max-width: 480px)
{
    header div.box-info h1
    {
        font-size: 25px;
    }

    header div.btn-shop
    {
        font-size: 15px;
    }
}
